* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcfafa;
}

.input-field > label {
    color: #4e4e4e;
    font-size: 1.2rem;
}

.App {
    &--heading {
        font-size: 1.8rem;
    }
}

.dropzone {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    border: 3px dotted #555;
    cursor: pointer;
    padding: 80px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;

    &--active {
        border: 3px dotted rgb(30, 179, 50);
    }

}

.animation-button {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.debug-options-wrapper {
    padding: 30px 20%;
}

.color-picker {
    display: inline-block;
    padding-top: 5px;
    margin-right: 10px;

    &__swatch {
        padding: 5px;
        background: #fff;
        border-radius: 1px;
        box-shadow: 0 0 0 1px rgba(0,0,0,.1);
        display: inline-block;
        cursor: pointer;
    }

    &__color {
        width: 110px;
        height: 30px;
        border-radius: 2px;
    }

    &__popover {
        position: absolute;
        z-index: 2
    }

    &__cover {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }

    &__text {
        font-size: 12px;
        display: block;
        text-align: center;
    }
}

.animations {

    position: absolute;
    top: 50px;
    left: 50px;

    &:hover {
        cursor: move;
    }

    &--heading {
        font-size: 1.3em;
    }

    &--button {
        display: block;
        width: 100%;
        text-transform: none;
    }
}

.debug {
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 20px;

    &:hover {
        cursor: move;
    }

    &--heading {
        font-size: 1.3em;
    }

}

.timeline {
    position: absolute;
    bottom: 50px;
    right: 50px;
    padding: 20px;

    &:hover {
        cursor: move;
    }
}